*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1a1a1a;
  overflow: hidden;
  gap: 7vw;
  display: flex;
  color: #ffff;
}


/* SideBar */

.sidebar-container {
  height: 100vh;
  width: 200px;
  min-width: 200px;
  background: #1d1d1d;
  border-right: 1px solid #ffffff27;
  border-radius: 6px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 105vh;
}

.sidebar ul {
  flex-wrap: nowrap;
  margin-top: 15vh;
  height: 25vh;
  justify-content: space-around;
  display: flex;
}

.sidebar ul li {
  display: flex;
  min-width: 200px;
  max-width: 200px;
  align-items: center;
  justify-content: center;
}

.sidebar ul li img {
  height: 26px;
}

.sidebar ul li a {
  width: 100px;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: start;
  color: #ffff;
}

.sidebar ul li a:hover {
  transition: 0.1s;
  color: #ffff;
}

.sidebar ul li a:focus {
  transition: 0.1s;
  color: #8F56BB;
}

.sidebar ul li:focus-within {
  transition: 0.1s;
  color: #8F56BB;
  border-left: 4px solid #8F56BB;
}

.sidebar #logout-link {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
}

.sidebar #logout-link a {
  transition: 0.1s;
  align-items: center;
  justify-content: center;
  width: 100px;
  color: #ff3a7c;
}

.sidebar #logout-link:focus-within {
  border-left: 4px solid #ff3a7c;
}

/* DashBoard */

.dashboard {
  position: relative;
  margin-top: 5vh;
  min-width: 850px;
  gap: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.card-container {
  gap: 20px;
  display: flex;
}

.card {
  background: #1d1d1d;
  border: 1px solid #ffffff27;
  transition: 0.1s;
  height: 200px;
  min-width: 250px;
  width: 16vw;
}

.card:hover {
  cursor: pointer;
  box-shadow: #2b2b2b 4px 4px 6px;
}

.card-body {
  color: #ffff;
  gap: 10px;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-wrap: nowrap;
  min-width: 400px;
}

.card-body h1 {
  font-size: 2em;
}

.card-icon {
  height: 30px;
  width: 30px;
}

.wallet {
  background: #262631;
  border-radius: 30%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#chart {
  width: 350px;
}

.monthly-expenses--container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  height: 300px;
  max-height: 400px;
  width: 400px;
  min-width: 350px;
  border-radius: 16px;
  border: 1px solid #ffffff27;
  background: #1d1d1d;
  color: #fff;
}

/* Aside */

.aside-container {
  justify-content: center;
  flex-direction: column;
  align-self: flex;
  display: flex;
  height: 120vh;
}

.aside {
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  height: 80%;
  min-width: 200px;
  width: 400px;
  border-radius: 8px;
  background: #1d1d1d;
  border: 1px solid #ffffff27;
}

.user-container {
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 50px;
}

.user-container img {
  height: 32px;
  cursor: pointer;
}