*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  display: flex;
  background: #6b6b6b;
}

.slider--container {
  gap: 20px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image--container {
  width: 600px;
  display: flex;
}

.image--container img {
  max-width: 100%;
  transition: 1s ease-in-out;
}

.button {
  cursor: pointer;
  height: 30px;
}

.active {
  opacity: 1;
}