*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  background: #6b6b6b;
}

.container {
  width: 100%;
  display: flex;
  max-width: 100px;
}


.slider--container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100vw;
}

.image--container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.image--container img {
  transition: 1s ease-in-out;
  border-radius: 8px;
  max-width: 600px;
}

#radio-container {
  position: absolute;
  cursor: pointer;
  image-rendering: crisp-edges;
  height: 30px;
}

#radio-container input:focus {
  border: 6px solid black;
}

#radio-container input:active {
  border: 6px solid black;
}

#radio-container input:hover {
  border: 6px solid black;
}

.active {
  opacity: 1;
}