*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
  background: #6b6b6b;
}

.container {
  width: 45rem;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.slider--container {
  width: 80%;
}

.image--container {
  max-width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px solid #0000008a;
}

.image--container img {
  transform: translateX(20%);
  transition: 1s ease-in-out;
  position: absolute;
  border-radius: 8px;
  width: 100%;
}

#next, #previous {
  cursor: pointer;
  image-rendering: crisp-edges;
  height: 30px;
}

.active {
  opacity: 1;
}