*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.counter-container {
  font-weight: 600;
  color: #ffff;
  display: none;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.number-container {
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  width: 50px;
  height: 50px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.challenge {
  font-weight: 600;
  align-items: center;
  justify-content: space-around;
  display: flex;
  width: 70vw;
  height: 10vh;
  color: #ffffff;
}

.challenges {
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
  justify-content: space-around;
}